In [1]:
import pandas as pd

In [7]:
data=pd.read_csv("Region.csv")

In [4]:
data["density"] = 1

In [15]:
data.to_csv("Region.csv")

In [8]:
def split_shit(s):
    return s.split('-')[0]

In [13]:
data["city"] = data["city"].apply(split_shit)

In [14]:
data.head()

,Unnamed: 0,code,province,city,latitude,longitude,elementary_school_count,kindergarten_count,university_count,academy_ratio,elderly_population_ratio,elderly_alone_ratio,nursing_home_count,density
0,0,10000,Seoul,Seoul,37.566953,126.977977,607,830,48,1.44,15.38,5.8,22739,1
1,1,10010,Seoul,Gangnam,37.518421,127.047222,33,38,0,4.18,13.17,4.3,3088,1
2,2,10020,Seoul,Gangdong,37.530492,127.123837,27,32,0,1.54,14.55,5.4,1023,1
3,3,10030,Seoul,Gangbuk,37.639938,127.025508,14,21,0,0.67,19.49,8.5,628,1
4,4,10040,Seoul,Gangseo,37.551166,126.849506,36,56,1,1.17,14.39,5.7,1080,1